.chatpress_channel_wrapper {
  float: left;
  border: solid black 1px;
  padding: 1%;
  width: 100%;
  background: white;
}

	.chatpress_channel_content_container {
		float: left;
		border: none;
		padding: 1%;
		width: 100%;
		background: transparent;
		padding-left: 5%;
	}

		.chatpress_channel_message_container {
			width: 95%;
			background: white;
			height: 750px;
			overflow-y: scroll;
		}

			.chatpress_channel_message_container_title {
				font-size: 36px;
				margin-top: 0px;
				font-weight: 700;
				padding-left: 5%;
			}

			.chatpress_channel_message_container_description {
				padding-left: 5%;
				margin-bottom: 20px;
			}

			.chatpress_message_div {
				width: 100%;
				border: solid black 1px;
				padding: 10px;

			}

		.chatpress_channel_input_container {
			width: 100%;
			margin-left: -2%;
			overflow: hidden;
		}

		.chatpress_text_input,
		.chatpress_button_input {
			margin-top: 5px;
		}

		.chatpress_message_admin_panel {
			float: right;
			width: 20%;
			height: 30px;
			background: lightgray;
			text-align: center;
			font-size: 10px;
			line-height: 30px;
		}

.wp-editor-wrap {
	float: left;
	width: 100%;
	max-height: 200px;
	overflow-y: hidden;
	margin-top: 1%;
}

	.chatpress_title_hover_div {
		display: none;
		background: black;
		color: white;
		border-radius: 15px;
		border: solid white 1px;
		margin-top: -10px;
		padding-left: 5%;
	}


		/* Theme overrides */
		@media screen and (min-width: 77.5em) {

			p {
			    margin-bottom: 0px !important;
			}

		}
